<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

<head>

    <title>countries</title>
    <link rel = "stylesheet" th:href ="@{/css/cssFTW.css}">

</head>

<body>




<div class="main">



    <pre id="quote">"Countries"</pre>






    <ul>
        <li><button>country 1</button></li>
        <li><button>country 2</button></li>
        <li><button>country 3</button></li>
    </ul>
    
       <form method= "post" th:action = @{/addCountry}>

        <input type="text" name="countryName" th:text = ${country.countryName}> <br>
           <input type="text" name="countryName" th:text = ${country.continent}><br>

        <input type="submit" value="create">


    </form>






</div>
</body>

</html>
