<!DOCTYPE html>

<html>

<head>

    <title>countries</title>
    <link rel = "stylesheet" href = "cssFTW.css">

</head>

<body>




<div class="main">



    <pre id="quote">"Countries"</pre>






    <ol>
        <li><button>country 1</button></li>
        <li><button>country 2</button></li>
        <li><button>country 3</button></li>
    </ol>
    
       <form method= "post" th:action = @{/addCountry}>

        <input type="text" name="countryName" th:text = ${country.countryName}>

        <input type="submit" value="create">


    </form>






</div>
</body>

</html>
