<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Animals</title>
    <link rel = "stylesheet" th:href ="@{/css/cssFTW.css}">

</head>

<body>




<div class="main">

    <pre id="quote">"Animals from <td th:text = "${countryName}">" </pre>

    <a th:href="@{/countries}"> BACK </a> <br> <br> <br>




    <tr th:each = "animal:${animals}">
        <td th:text = "${animal.animalName}"> animals</td>
        <a th:href = "@{/animals/{countryName}/{id}(id=${animal.id})}" class = "btn btn-primary">delete</a>
        <br>
    </tr>




   <form method= "post" th:action = "@{/animals/{countryName}(countryName=${countryName})}">

        <input type="text" name="animalName" th:text = "*{animalName}"> <br>

        <input type="submit" value="create">

    </form>




    <!--/* This code will be removed at thymeleaf parsing time!



      <form method= "post" th:action = @{/addAnimal/{c}(c=${animal.country.countryName})}>

        <input type="text" name="animalName" th:text = "*{animal.animalName}">

        <input type="submit" value="create">


    </form>

// calisan form addAnimal

<form th:action="@{/animals}"  method="POST">

        <input type="text" name="animalName" th:text = "*{animalName}"> <br>

        <input type="submit" th:field = "*{animalName}" value="create">


    </form>

// bu hali ile null olsa da kaydediyor

  <form method= "post" th:action = @{/animals/{countryName}(countryName=${countryName})}>

        <input type="text" name="animalName" th:text = "*{animalName}"> <br>

        <input type="submit" value="create">


    </form>

     <form method= "post" th:action = "@{/animals/{countryName}(countryName=${countryName})}">   bu da calisan v2

        <input type="text" name="animalName" th:text = "*{animalName}"> <br>

        <input type="submit" value="create">
    </form>

    //delete calisan

      @Override
    @GetMapping("/animals/{countryName}/{id}")
    public String deleteAnimal(@PathVariable Long id) {

        animalService.deleteAnimal(id);

        return "redirect:/animals";

        ||

         <tr th:each = "animal:${animals}">
        <td th:text = "${animal.animalName}"> animals</td>
        <a th:href = "@{/animals/{countryName}/{id}(id=${animal.id})}" class = "btn btn-primary">delete</a>
        <br>
    </tr>


    }
     */-->




</div>
</body>

</html>
